In [1]:
import pymysql
import pymysql.cursors
import csv
from collections import Counter
import pandas as pd
import numpy as np

In [2]:
# Connect to the database
connection = pymysql.connect(host='127.0.0.1',
                             user='root',
                             password='abhi1234',
                             db='fintech_2016',
                             port=3306,
                             charset='utf8'
                             )
cursor = connection.cursor()

#### Getting Table Names

In [3]:

cursor.execute (" SHOW TABLES   ")

2

In [4]:
tabls = cursor.fetchall()

In [5]:
for a in tabls:
    print a

(u'fintech_15',)
(u'fintech_16',)

In [6]:
tab = "fintech_16"

#### Column Selection

In [7]:
cursor.execute("  SHOW COLUMNS FROM `fintech_16`     ")

14

In [8]:
cols = cursor.fetchall()

In [9]:
x = 0
for i in cols:
    
    print x, i[0]
    x = x+1

0 ID
1 Title
2 Content
3 Snippet
4 Link
5 Date
6 Source
7 Trend
8 Segment
9 Company
10 Country
11 Continent
12 Investment (US$ million)
13 Investors

### Country

In [10]:
con = "'UK'"

In [11]:

cont = "'%Asia%'"

### _Functions_

#### Fun: Unique values of a table

In [12]:
def unique (col1):
    col = col1
    list_a = [ ]
    qw = ''' SELECT DISTINCT(`%s`) AS `%s` FROM `%s`  ORDER BY `%s` DESC   ''' %(col,col,tab,col)
    cursor.execute (qw)
    fetcher = cursor.fetchall()
    for one in fetcher:
        tick = one[0]
        tick = tick.split(",")
        for i in range (len(tick)):
            if tick[i] in list_a:
                pass
            else:
                list_a.append(tick[i])
    print "Total Unique Values: "+str(len(list_a))
    return list_a

In [13]:
d = unique ("Country") #enters col name, outputs as a list
# always out it in form of a list

Total Unique Values: 44

In [14]:
len(d)

44

#### Getting Count of unique values

In [15]:
def val_count(u_val):
    list_2 = [ ]
    for a in u_val:
        b = a[0]
        if len(b) > 1:
            b = b.split(",")
        for i in range (len(b)):
            list_2.append(b[i])
    c = Counter( list_2 )
    d = c.items()# It's a list
    f = sorted(d, key=lambda x: x[1], reverse=True)
    for e in f:
        print e[0]+":"+str(e[1])+":"+format(((float(e[1])/len(list_2))*100),'.1f')+"%"
    return

In [16]:
cursor.execute (" SELECT *  FROM `%s` WHERE `Continent` LIKE %s AND `Date` BETWEEN '2016-10-01' AND '2016-12-31'  "%(tab,cont))

34

In [17]:
a_cnt = cursor.fetchall()

In [18]:
for a in a_cnt:
    print a[11]

Asia
Asia
Asia
Asia
North America,Asia
Asia
Asia
North America,Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Europe,Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Europe,Asia
Asia
Asia
Asia
Asia
Asia

## Major countries in Q4-2016

In [19]:
cursor.execute (" SELECT `Country`  FROM `%s`WHERE `Continent` LIKE %s AND `Date` BETWEEN '2016-10-01' AND '2016-12-31'  "%(tab,cont))

34

In [20]:
t_con = cursor.fetchall()

In [21]:
 val_count(t_con)

India:13:31.7%
Thailand:4:9.8%
Singapore:3:7.3%
Malaysia:3:7.3%
China:3:7.3%
Philippines:2:4.9%
Indonesia:2:4.9%
US:2:4.9%
Hong Kong:2:4.9%
Russia:2:4.9%
Israel:1:2.4%
Latvia:1:2.4%
UK:1:2.4%
Japan:1:2.4%
South Korea:1:2.4%

## Segments Q4

In [22]:
cursor.execute (" SELECT `Segment`  FROM `%s`WHERE `Continent` LIKE %s AND `Date` BETWEEN '2016-10-01' AND '2016-12-31'  "%(tab,cont))

34

In [23]:
t_seg = cursor.fetchall()

In [24]:
 val_count(t_seg)

Payment Processing:9:25.7%
Lending:7:20.0%
Accelerators Incubators and Funds:6:17.1%
Investment Advisory:6:17.1%
Analytics and Management:4:11.4%
B2B Fintech Services:2:5.7%
Mobile Fintech:1:2.9%

## Trends Q4

In [25]:
cursor.execute (" SELECT `Trend`  FROM `%s`WHERE `Continent` LIKE %s AND `Date` BETWEEN '2016-10-01' AND '2016-12-31'  "%(tab,cont))

34

In [26]:
t_trd = cursor.fetchall()

In [27]:
 val_count(t_trd)

Investments:13:38.2%
Collaboration:10:29.4%
Expansion:6:17.6%
New Products:3:8.8%
Regulations:2:5.9%

## Q1 - Q4 Count

Q1

In [28]:
cursor.execute (" SELECT 'COUNT(*)'  FROM `%s` WHERE `Continent` LIKE %s AND `Date` BETWEEN '2016-01-01' AND '2016-03-31'  "%(tab,cont))

24

Q2

In [29]:
cursor.execute (" SELECT 'COUNT(*)'  FROM `%s` WHERE `Continent` LIKE %s AND `Date` BETWEEN '2016-04-01' AND '2016-06-31'  "%(tab,cont))

19

Q1

In [30]:
cursor.execute (" SELECT 'COUNT(*)'  FROM `%s` WHERE `Continent` LIKE %s AND `Date` BETWEEN '2016-07-01' AND '2016-09-31'  "%(tab,cont))

42

Q1

In [31]:
cursor.execute (" SELECT 'COUNT(*)'  FROM `%s` WHERE `Continent` LIKE %s AND `Date` BETWEEN '2016-10-01' AND '2016-12-31'  "%(tab,cont))

34

## Q4 - Investment -  Segments

In [32]:
cursor.execute (""" 
                SELECT `Segment`  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` LIKE %s AND
                `Date` BETWEEN '2016-10-01' AND '2016-12-31'  """%(tab,cont,"'%Investments%'"))

13

In [33]:
t_is = cursor.fetchall()

In [34]:
 val_count(t_is)

Lending:4:28.6%
Analytics and Management:3:21.4%
B2B Fintech Services:2:14.3%
Payment Processing:2:14.3%
Investment Advisory:2:14.3%
Mobile Fintech:1:7.1%

## Q1-Q4 Investments

Q1

In [35]:
cursor.execute (""" 
                SELECT `Segment`  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` LIKE %s AND
                `Date` BETWEEN '2016-01-01' AND '2016-03-31'  """%(tab,cont,"'%Investments%'"))

9

Q2

In [36]:
cursor.execute (""" 
                SELECT `Segment`  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` LIKE %s AND
                `Date` BETWEEN '2016-04-01' AND '2016-06-31'  """%(tab,cont,"'%Investments%'"))

7

Q3

In [37]:
cursor.execute (""" 
                SELECT `Segment`  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` LIKE %s AND
                `Date` BETWEEN '2016-07-01' AND '2016-09-31'  """%(tab,cont,"'%Investments%'"))

16

Q4

In [38]:
cursor.execute (""" 
                SELECT `Segment`  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` LIKE %s AND
                `Date` BETWEEN '2016-10-01' AND '2016-12-31'  """%(tab,cont,"'%Investments%'"))

13

## NP, Exp, Collab - Q4 - Segments

In [39]:
cursor.execute (""" 
                SELECT `Segment`  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` NOT LIKE 'Investments' AND `Trend` NOT LIKE 'Regulations' AND
                `Date` BETWEEN '2016-10-01' AND '2016-12-31'  """%(tab,cont))

19

In [40]:
t_NEC = cursor.fetchall()

In [41]:
 val_count(t_NEC)

Payment Processing:7:35.0%
Accelerators Incubators and Funds:5:25.0%
Investment Advisory:4:20.0%
Lending:3:15.0%
Analytics and Management:1:5.0%

## NP, Exp, Collab - Q1-Q4 - Segments

Q1

In [42]:
cursor.execute (""" 
                SELECT *  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` NOT LIKE 'Investments' AND `Trend` NOT LIKE 'Regulations' AND
                `Date` BETWEEN '2016-01-01' AND '2016-03-31'  """%(tab,cont))

15

Q2

In [43]:
cursor.execute (""" 
                SELECT *  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` NOT LIKE 'Investments' AND `Trend` NOT LIKE 'Regulations' AND
                `Date` BETWEEN '2016-04-01' AND '2016-06-31'  """%(tab,cont))

13

Q3

In [44]:
cursor.execute (""" 
                SELECT *  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` NOT LIKE 'Investments' AND `Trend` NOT LIKE 'Regulations' AND
                `Date` BETWEEN '2016-07-01' AND '2016-09-31'  """%(tab,cont))

26

Q4

In [45]:
cursor.execute (""" 
                SELECT *  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` NOT LIKE 'Investments' AND `Trend` NOT LIKE 'Regulations' AND
                `Date` BETWEEN '2016-10-01' AND '2016-12-31'  """%(tab,cont))

19

# ROUGH WORK

## Text - Investments

In [46]:
cursor.execute (""" 
                SELECT *  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` LIKE %s AND
                `Date` BETWEEN '2016-10-01' AND '2016-12-31'  """%(tab,cont,"'%Investments%'"))

13

In [47]:
t1 = cursor.fetchall()

In [48]:
for t in t1:
    t_content = t[2]
    t_link = t[4]
    print t_content
    print t_link
    print "*-*-*-*-*-*-"

Japan-based financial technology company Money Forward, automatic household accounts and asset management services, has raised US$11 million in a Series D round led by Isetan Mitsukoshi Holdings, and Mizuho Capital fintech fund. The company’s current investors Silicon Valley-based Fenox Venture Capital, and Toho Bank also joined the round along with other domestic banks and new business partners Gunma Bank, Fukui Bank, North Pacific Bank, and Shiga Bank. The new money will be mostly spent on recruiting and marketing.
http://www.dealstreetasia.com/stories/54764-54764/
*-*-*-*-*-*-
US based direct marketing company VMobo has acquired India (Bengaluru) fintech startup Binge, which runs an app to aggregate mobile wallets for restaurant bill payments, for a valuation of US$3.5 million.
The acquisition, which also includes a merger with Mumbai-based styling startup Dapper Don, has resulted in the launch of a network marketplace of about 120 brands, called VClusive.
http://tech.economictimes.indiatimes.com/news/startups/fintech-startup-binge-acquired-by-california-based-vmobo/54910277
*-*-*-*-*-*-
India fintech startup Finwizard Technology, which runs a wealth management app Fisdom, has raised US$1.1 million from Saama Capital. The new funds will be used for team expansion and customer acquisition.
http://economictimes.indiatimes.com/small-biz/money/fintech-startup-finwizard-technology-gets-rs-7-3-cr-from-saama-capital/articleshow/54929616.cms
*-*-*-*-*-*-
India fintech CreditMate, which uses data-driven algorithms to lend against purchase of 2-wheelers, has raised an investment of US$0.5 million from Quotient.
http://economictimes.indiatimes.com/small-biz/money/india-quotient-invests-500000-in-fintech-startup-creditmate/articleshow/55043344.cms
*-*-*-*-*-*-
US and India based fintech company MPOWER Financing, which facilitates funding solutions for international students pursuing higher education in the US universities, has raised US$6 million in the round led by private equity firm Zephyr Peacock India and other investors including University Ventures, 1776 Ventures, Goal Structured Solutions, VilCap Investments and Fresco Capital.
The company will use the capital raised to enhance its technology platform and expand its marketing efforts in emerging markets with a focus on India
http://techcircle.vccircle.com/2016/10/26/fintech-startup-mpower-financing-raises-6-mn/
*-*-*-*-*-*-
India based Kredx, an invoice discounting platform, has raised US$6 million in Series A funding led by Sequoia and existing investor, Prime Venture Partners. The funds will be used to strengthen the technology, data and sales functions within the company.
http://www.medianama.com/2016/10/223-kredx-series-a-funding/
*-*-*-*-*-*-
Russia based Qiwi, leading provider of next generation payment services, has acquired fintech startup Plati Potom that develops innovative post payment solutions for e-commerce and offline retailers as well as cutting-edge data analysis and credit risk management tools.
http://www.reuters.com/article/idUSFWN1CC0E8
*-*-*-*-*-*-
Indonesia based C88 Financial Technologies, which owns and operates consumer financial websites in Indonesia and the Philippines has raised undisclosed amount of investments from Telstra Ventures. This investment creates opportunities for collaboration based on the enterprise services Telstra already provides to financial institutions across the Asia-Pacific region and through telkomtelstra, its joint venture in Indonesia.
http://www.telecompaper.com/news/telstra-invests-in-asian-fintech-company-c88--1165103
*-*-*-*-*-*-

http://techcircle.vccircle.com/2016/11/29/fintech-startup-for-healthcare-services-affordplan-raises-3-mn/
*-*-*-*-*-*-

https://www.pehub.com/2016/11/israeli-fintech-startpaykey-picks-up-6-mln-series-a/
*-*-*-*-*-*-

http://tech.economictimes.indiatimes.com/news/startups/fintech-startup-rupaiya-exchange-secures-angel-funding-from-a-clutch-of-hnis/55871055
*-*-*-*-*-*-

http://economictimes.indiatimes.com/small-biz/money/fintech-startup-indifi-technologies-raises-rs-66-5-crore-in-round-led-by-omidyar-network/articleshow/55953213.cms
*-*-*-*-*-*-

http://techcircle.vccircle.com/2016/12/07/online-investment-advisory-startup-wealthapp-gets-440k-from-angel-investors/
*-*-*-*-*-*-

## Text - NP/E/C

In [49]:
cursor.execute (""" 
                SELECT *  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` NOT LIKE 'Investments' AND `Trend` NOT LIKE 'Regulations' AND
                `Date` BETWEEN '2016-10-01' AND '2016-12-31'  """%(tab,cont))

19

In [50]:
t2 = cursor.fetchall()

In [51]:
for t in t2:
    t_content = t[2]
    t_link = t[4]
    print t_content
    print t_link
    print "*-*-*-*-*-*-"

Hong Kong Applied Science and Technology Research Institute (ASTRI) and the Electronic Transactions Development Agency (ETDA), an e-commerce agency under the Thai Ministry of Digital Economy and Society, have collaborated to support the development of electronic transactions in Thailand and to carry out research and development (R&D) projects of financial technologies (FinTech).
http://www.enterpriseinnovation.net/article/thai-govt-partners-astri-fintech-research-and-development-1130015699
*-*-*-*-*-*-
Mastercard has partnered Shanghai Free Trade Zone (SFTZ) for a commodities trading platform. The Cross-Border Commodities Financial Services Platform is a pioneering effort by COMMIN, ValuePay and Mastercard, supported by Mastercard’s key banking partners including DBS Bank, CIMB Bank and Bank of Shanghai, who have expressed interest in participating in the pilot test of the platform.
http://www.enterpriseinnovation.net/article/mastercard-announces-financial-services-platform-partnership-shanghai-free-trade-zone
*-*-*-*-*-*-
Hong Kong-based Fintech accelerator SuperCharger and Fidelity International have collaborated to promote FinTech entrepreneurship.
Under the renewed partnership, the two firms will work together to create an integrated system for marketing FinTech solutions.
http://www.enterpriseinnovation.net/article/fidelity-international-partners-supercharger-fintech-accelerator-hong-kong-647604466
*-*-*-*-*-*-
Singapore based advisory firm Bento has released the world’s first bionic advisor.
The new service uses a proprietary robo algorithm to create a tailor-made portfolio for each individual investor.
http://www.enterpriseinnovation.net/article/bento-launches-bionic-advisor-high-net-worth-clients-787112241
*-*-*-*-*-*-
Android Pay has launched in Hong Kong allowing compatible smartphone owners to make payments at over 5,000 locations supporting contactless payments.
The near field communication (NFC) mobile payment service is available wherever NFC payments are accepted, including multiple major retail and fast food chains and 3 Hong Kong and SmarTone retail stores.
http://www.enterpriseinnovation.net/article/android-pay-launches-hong-kong-820114030
*-*-*-*-*-*-
China's Ant Financial, the finance affiliate of e-commerce giant Alibaba - currently valued at US$60 billion, has partnered with Thai fintech Ascend Money (mobile wallet application & services company). Ant Financial will assist Ascend Money in growing its online and offline payment and financial services ecosystem by providing strategic and technical support.
http://www.scmp.com/business/article/2041909/ant-financial-forms-strategic-partnership-thai-fintech-ascend-money
*-*-*-*-*-*-

http://www.enterpriseinnovation.net/article/ant-financial-partners-ascend-mobile-and-digital-payments-542922515
*-*-*-*-*-*-

http://www.econotimes.com/BNY-Mellon-to-open-eighth-fintech-innovation-centre-in-Singapore-389173
*-*-*-*-*-*-

http://thetechportal.com/2016/11/18/practo-team-fintech-startups/
*-*-*-*-*-*-

http://www.enterpriseinnovation.net/article/fintech-startup-first-circle-offers-collateral-free-loans-philippine-smbs-234425651
*-*-*-*-*-*-

http://www.mis-asia.com/tech/industries/smart-city-enabler-cyberview-holds-accelerator-for-fintech-startups/
*-*-*-*-*-*-

http://www.thehindubusinessline.com/info-tech/fintech-firm-zeta-launches-card-with-antifraud-measures/article9382651.ece
*-*-*-*-*-*-

http://www.econotimes.com/Societe-Generale-and-Singapore-fintech-firm-partner-for-third-party-Asian-equity-research-428607
*-*-*-*-*-*-

http://www.econotimes.com/Fintech-firms-from-South-Korea-and-Indonesia-partner-to-build-ecosystem-431396
*-*-*-*-*-*-

http://mybigplunge.com/news/news-flash/hr-block-partnered-with-niyo-tax-filing/
*-*-*-*-*-*-

http://www.indiainfoline.com/article/news-top-story/yes-bank-partners-fortytwo42-labs-to-implement-fintech-cyber-security-solutions-116121500237_1.html
*-*-*-*-*-*-

http://uk.businessinsider.com/latvian-marketplace-lender-twino-expands-to-russia-2016-12
*-*-*-*-*-*-

http://www.chinadaily.com.cn/business/2016-12/02/content_27545804.htm
*-*-*-*-*-*-

http://www.enterpriseinnovation.net/article/maybank-western-union-launch-mobile-money-transfer-service-malaysia-236314167
*-*-*-*-*-*-

## Text - Accelerators

In [52]:
cursor.execute (""" 
                SELECT *  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Segment`  LIKE %s
                """%(tab,cont,"'%Accelerator%'"))

22

In [53]:
cursor.execute (""" 
                SELECT *  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Segment`  LIKE %s AND
                `Date` BETWEEN '2016-10-01' AND '2016-12-31' 
                """%(tab,cont,"'%Accelerator%'"))

6

In [54]:
tt = cursor.fetchall()

In [55]:
for t in tt:
    t_content = t[2]
    t_link = t[4]
    print t_content
    print t_link
    print "*-*-*-*-*-*-"

Hong Kong Applied Science and Technology Research Institute (ASTRI) and the Electronic Transactions Development Agency (ETDA), an e-commerce agency under the Thai Ministry of Digital Economy and Society, have collaborated to support the development of electronic transactions in Thailand and to carry out research and development (R&D) projects of financial technologies (FinTech).
http://www.enterpriseinnovation.net/article/thai-govt-partners-astri-fintech-research-and-development-1130015699
*-*-*-*-*-*-
Hong Kong-based Fintech accelerator SuperCharger and Fidelity International have collaborated to promote FinTech entrepreneurship.
Under the renewed partnership, the two firms will work together to create an integrated system for marketing FinTech solutions.
http://www.enterpriseinnovation.net/article/fidelity-international-partners-supercharger-fintech-accelerator-hong-kong-647604466
*-*-*-*-*-*-

http://www.chinadaily.com.cn/business/2016-11/14/content_27372986.htm
*-*-*-*-*-*-

http://www.econotimes.com/BNY-Mellon-to-open-eighth-fintech-innovation-centre-in-Singapore-389173
*-*-*-*-*-*-

http://www.mis-asia.com/tech/industries/smart-city-enabler-cyberview-holds-accelerator-for-fintech-startups/
*-*-*-*-*-*-

http://www.econotimes.com/Fintech-firms-from-South-Korea-and-Indonesia-partner-to-build-ecosystem-431396
*-*-*-*-*-*-

In [57]:
cursor.execute (""" 
                SELECT *  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` LIKE %s AND
                `Date` BETWEEN '2016-10-01' AND '2016-12-31'  """%(tab,cont,"'%Investments%'"))

13

In [58]:
t5 = cursor.fetchall()

In [60]:
for t in t5:
    print t[1],":",t[5],":",t[8]

Japanese Money Forward raises US$11 million in Series D round : 2016-10-05 : Analytics and Management
vMobo acquires Indian mobile wallet aggregator Binge : 2016-10-17 : Mobile Fintech,Payment Processing
Wealth management app Fisdom has raised $1.1million from Saama Capital : 2016-10-18 : Analytics and Management
Lending startup CreditMate raises US$0.5 million : 2016-10-24 : Lending
MPOWER Financing raises US$6 million from Zephyr Peacock : 2016-10-26 : Lending
Kredx has raised $6 million Series A financing from Sequoia Capital : 2016-10-25 : Analytics and Management
Qiwi acquires fintech startup Plati Potom : 2016-10-06 : B2B Fintech Services
C88 Financial receives strategic investment from Telstra Ventures : 2016-10-02 : B2B Fintech Services
Affordplan has raised $3 million Series A financing : 2016-11-29 : Investment Advisory
PayKey has raised $6 million in Series A financing : 2016-11-23 : Payment Processing
Rupaiya Exchange has raised $200,000 angel financing from private investors : 2016-12-08 : Lending
Indifi Technologies has raised $10 million from Omidyar Network : 2016-12-12 : Lending
WealthApp has raised $440,000 in angel financing : 2016-12-06 : Investment Advisory

In [56]:
#cursor.close()