In [1]:
import pymysql
import pymysql.cursors
import csv
from collections import Counter
import pandas as pd
import numpy as np

In [2]:
# Connect to the database
connection = pymysql.connect(host='127.0.0.1',
                             user='root',
                             password='abhi1234',
                             db='fintech_2016',
                             port=3306,
                             charset='utf8'
                             )
cursor = connection.cursor()

#### Getting Table Names

In [3]:

cursor.execute (" SHOW TABLES   ")

2

In [4]:
tabls = cursor.fetchall()

In [5]:
for a in tabls:
    print a

(u'fintech_15',)
(u'fintech_16',)

In [6]:
tab = "fintech_16"

#### Column Selection

In [7]:
cursor.execute("  SHOW COLUMNS FROM `fintech_16`     ")

14

In [8]:
cols = cursor.fetchall()

In [9]:
x = 0
for i in cols:
    
    print x, i[0]
    x = x+1

0 ID
1 Title
2 Content
3 Snippet
4 Link
5 Date
6 Source
7 Trend
8 Segment
9 Company
10 Country
11 Continent
12 Investment (US$ million)
13 Investors

### Country

In [10]:
con = "'UK'"

In [11]:

cont = "'%Europe%'"

### _Functions_

#### Fun: Unique values of a table

In [12]:
def unique (col1):
    col = col1
    list_a = [ ]
    qw = ''' SELECT DISTINCT(`%s`) AS `%s` FROM `%s`  ORDER BY `%s` DESC   ''' %(col,col,tab,col)
    cursor.execute (qw)
    fetcher = cursor.fetchall()
    for one in fetcher:
        tick = one[0]
        tick = tick.split(",")
        for i in range (len(tick)):
            if tick[i] in list_a:
                pass
            else:
                list_a.append(tick[i])
    print "Total Unique Values: "+str(len(list_a))
    return list_a

In [13]:
d = unique ("Country") #enters col name, outputs as a list
# always out it in form of a list

Total Unique Values: 44

In [14]:
len(d)

44

#### Getting Count of unique values

In [15]:
def val_count(u_val):
    list_2 = [ ]
    for a in u_val:
        b = a[0]
        if len(b) > 1:
            b = b.split(",")
        for i in range (len(b)):
            list_2.append(b[i])
    c = Counter( list_2 )
    d = c.items()# It's a list
    f = sorted(d, key=lambda x: x[1], reverse=True)
    for e in f:
        print e[0]+":"+str(e[1])+":"+format(((float(e[1])/len(list_2))*100),'.1f')+"%"
    return

In [16]:
cursor.execute (" SELECT *  FROM `%s` WHERE `Continent` LIKE %s AND `Date` BETWEEN '2016-10-01' AND '2016-12-31'  "%(tab,cont))

35

In [17]:
a_cnt = cursor.fetchall()

In [18]:
for a in a_cnt:
    print a[11]

Europe
Europe
Europe
Europe
Europe
Europe
Europe
Europe
Europe
Europe
Europe
Europe
Europe
Europe
Europe,Asia
Europe
Europe
Europe
Europe
Europe
Europe
Europe
Europe
Europe
Europe,Asia
Europe
Europe
Europe
Europe
Europe
Europe
Europe
Europe
Europe
Europe

## Major countries in Q4-2016

In [19]:
cursor.execute (" SELECT `Country`  FROM `%s`WHERE `Continent` LIKE %s AND `Date` BETWEEN '2016-10-01' AND '2016-12-31'  "%(tab,cont))

35

In [20]:
t_con = cursor.fetchall()

In [21]:
 val_count(t_con)

UK:17:44.7%
Germany:6:15.8%
Sweden:4:10.5%
Ireland:3:7.9%
Denmark:2:5.3%
Switzerland:2:5.3%
France:1:2.6%
Latvia:1:2.6%
China:1:2.6%
Russia:1:2.6%

## Segments Q4

In [22]:
cursor.execute (" SELECT `Segment`  FROM `%s`WHERE `Continent` LIKE %s AND `Date` BETWEEN '2016-10-01' AND '2016-12-31'  "%(tab,cont))

35

In [23]:
t_seg = cursor.fetchall()

In [24]:
 val_count(t_seg)

Analytics and Management:7:19.4%
Payment Processing:7:19.4%
Investment Advisory:6:16.7%
Lending:6:16.7%
B2B Fintech Services:3:8.3%
Accelerators Incubators and Funds:3:8.3%
Marketplace:2:5.6%
Mobile Fintech:2:5.6%

## Trends Q4

In [25]:
cursor.execute (" SELECT `Trend`  FROM `%s`WHERE `Continent` LIKE %s AND `Date` BETWEEN '2016-10-01' AND '2016-12-31'  "%(tab,cont))

35

In [26]:
t_trd = cursor.fetchall()

In [27]:
 val_count(t_trd)

Investments:22:61.1%
Expansion:6:16.7%
New Products:4:11.1%
Regulations:3:8.3%
Collaboration:1:2.8%

## Q1 - Q4 Count

Q1

In [28]:
cursor.execute (" SELECT 'COUNT(*)'  FROM `%s` WHERE `Continent` LIKE %s AND `Date` BETWEEN '2016-01-01' AND '2016-03-31'  "%(tab,cont))

19

Q2

In [29]:
cursor.execute (" SELECT 'COUNT(*)'  FROM `%s` WHERE `Continent` LIKE %s AND `Date` BETWEEN '2016-04-01' AND '2016-06-31'  "%(tab,cont))

20

Q1

In [30]:
cursor.execute (" SELECT 'COUNT(*)'  FROM `%s` WHERE `Continent` LIKE %s AND `Date` BETWEEN '2016-07-01' AND '2016-09-31'  "%(tab,cont))

26

Q1

In [31]:
cursor.execute (" SELECT 'COUNT(*)'  FROM `%s` WHERE `Continent` LIKE %s AND `Date` BETWEEN '2016-10-01' AND '2016-12-31'  "%(tab,cont))

35

## Q4 - Investment -  Segments

In [32]:
cursor.execute (""" 
                SELECT `Segment`  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` LIKE %s AND
                `Date` BETWEEN '2016-10-01' AND '2016-12-31'  """%(tab,cont,"'%Investments%'"))

22

In [33]:
t_is = cursor.fetchall()

In [34]:
 val_count(t_is)

Analytics and Management:5:20.8%
Payment Processing:5:20.8%
Lending:4:16.7%
Investment Advisory:4:16.7%
Marketplace:2:8.3%
Mobile Fintech:2:8.3%
B2B Fintech Services:2:8.3%

## Q1-Q4 Investments

Q1

In [35]:
cursor.execute (""" 
                SELECT `Segment`  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` LIKE %s AND
                `Date` BETWEEN '2016-01-01' AND '2016-03-31'  """%(tab,cont,"'%Investments%'"))

11

Q2

In [36]:
cursor.execute (""" 
                SELECT `Segment`  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` LIKE %s AND
                `Date` BETWEEN '2016-04-01' AND '2016-06-31'  """%(tab,cont,"'%Investments%'"))

11

Q3

In [37]:
cursor.execute (""" 
                SELECT `Segment`  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` LIKE %s AND
                `Date` BETWEEN '2016-07-01' AND '2016-09-31'  """%(tab,cont,"'%Investments%'"))

15

Q4

In [38]:
cursor.execute (""" 
                SELECT `Segment`  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` LIKE %s AND
                `Date` BETWEEN '2016-10-01' AND '2016-12-31'  """%(tab,cont,"'%Investments%'"))

22

## NP, Exp, Collab - Q4 - Segments

In [39]:
cursor.execute (""" 
                SELECT `Segment`  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` NOT LIKE 'Investments' AND `Trend` NOT LIKE 'Regulations' AND
                `Date` BETWEEN '2016-10-01' AND '2016-12-31'  """%(tab,cont))

10

In [40]:
t_NEC = cursor.fetchall()

In [41]:
 val_count(t_NEC)

Accelerators Incubators and Funds:2:22.2%
Investment Advisory:2:22.2%
Lending:2:22.2%
B2B Fintech Services:1:11.1%
Analytics and Management:1:11.1%
Payment Processing:1:11.1%

## NP, Exp, Collab - Q1-Q4 - Segments

Q1

In [42]:
cursor.execute (""" 
                SELECT *  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` NOT LIKE 'Investments' AND `Trend` NOT LIKE 'Regulations' AND
                `Date` BETWEEN '2016-01-01' AND '2016-03-31'  """%(tab,cont))

11

Q2

In [43]:
cursor.execute (""" 
                SELECT *  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` NOT LIKE 'Investments' AND `Trend` NOT LIKE 'Regulations' AND
                `Date` BETWEEN '2016-04-01' AND '2016-06-31'  """%(tab,cont))

9

Q3

In [44]:
cursor.execute (""" 
                SELECT *  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` NOT LIKE 'Investments' AND `Trend` NOT LIKE 'Regulations' AND
                `Date` BETWEEN '2016-07-01' AND '2016-09-31'  """%(tab,cont))

12

Q4

In [45]:
cursor.execute (""" 
                SELECT *  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` NOT LIKE 'Investments' AND `Trend` NOT LIKE 'Regulations' AND
                `Date` BETWEEN '2016-10-01' AND '2016-12-31'  """%(tab,cont))

10

# ROUGH WORK

## Text - Investments

In [46]:
cursor.execute (""" 
                SELECT *  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` LIKE %s AND
                `Date` BETWEEN '2016-10-01' AND '2016-12-31'  """%(tab,cont,"'%Investments%'"))

22

In [47]:
t1 = cursor.fetchall()

In [48]:
for t in t1:
    t_content = t[2]
    t_link = t[4]
    print t_content
    print t_link
    print "*-*-*-*-*-*-"

Ireland fintech startup First Circle has secured US$1.2 million in seed round led by Dublin-and-London-based Key Capital. Singapore-based IMJ Investment Partners, and 500 Startups in San Francisco also joined in the round. First Circle is focused on providing short-term working capital among small and medium-sized enterprises (SMEs) in the Philippines, a sector that comprises 99 per cent of all businesses in the country. The company intends to expand its online lending business in the Philippines and soon across Southeast Asia.
http://www.dealstreetasia.com/stories/irish-led-fintech-first-circle-gets-1-2m-seed-fund-expands-in-philippines-56355/
*-*-*-*-*-*-
UK fintech startup Iwoca has raised US$26.2 million capital from German Commerzbank's VC wing CommerzVentures and Prime Ventures along with previous investors Acton Capital Partners, Global Founders Capital and Redline Capital. Iwoca lens to small businesses and will use the new fund for the growth in the UK and across Europe where it operates in Germany, Poland and Spain.
http://www.cityam.com/250657/commerzbank-ploughs-more-cash-into-london-fintech-startup
*-*-*-*-*-*-
UK based OpenGamma, a fintech startup that helps finance firms manage risk and capital in the derivatives market, has raised US$13.3 million from VC fund Accel, dealer broker ICAP, and Cristobal Conde- who already sits on the company's board.
OpenGamma makes cloud-based software to help finance firms calculate and manage their risk in the global derivatives market.

http://uk.businessinsider.com/fintech-opengamma-raises-from-accel-icap-2016-10
*-*-*-*-*-*-
Germany based credit broker Smava has closed their Series C investment round of US$34 million new capital from Runa Capital, Mojo capital and Verdane Capital. The round also included participation from their early stage investor Earlybird Venture Capital.
Smava is a general marketplace, connecting private investors and banks to potential borrowers. The company plans to use the new cash to expand its ability to offer fully automated installment loans.

http://www.geektime.com/2016/10/02/german-credit-startup-smava-bags-34-million-series-c-investment/
*-*-*-*-*-*-
UK tech startup, ComplyAdvantage - which uses artificial intelligence (AI) to ensure compliance rules are followed by financial firms, has raised US$8.2 million in a series A round of funding led by Balderton Capital. The new capital will be used to fuel expansion into the US market.
http://www.cityam.com/251414/uk-startup-using-ai-compliance-just-raised-millions
*-*-*-*-*-*-
Ireland based fintech startup Plynk, money-messaging app, has raised US$0.78 million in seed funding from various sources including Enterprise Ireland, NDRC and Delta Partners.
Plynkâ€™s app allows users to open payment accounts, get a card and make payments in euro. It plans to add other currencies in the future.

http://www.econotimes.com/irish-fintech-firm-plynk-raises-725k-in-seed-funding-350667
*-*-*-*-*-*-
Germany based fintech company Cringle, which is developing a mobile application for money transfers, has raised US$0.86 million from 1487 investors on the German equity crowdfunding site Companisto.
https://smnweekly.com/2016/10/31/german-fintech-cringle-raises-e800-000-on-crowdfunding-site-companisto/
*-*-*-*-*-*-

http://techcitynews.com/2016/11/16/edinburgh-based-fintech-firm-freeagent-ipos-aim-raises-10-7m/
*-*-*-*-*-*-

http://satprnews.com/2016/11/29/bnp-paribas-backs-the-growth-of-the-paycar-fintech/
*-*-*-*-*-*-

http://uk.businessinsider.com/swedish-fintech-klarna-buys-german-startup-cookies-after-bankruptcy-2016-11
*-*-*-*-*-*-

http://www.businessinsider.com/cashboard-funding-digital-space-ventures-german-fintech-momentum-2016-11
*-*-*-*-*-*-

http://uk.businessinsider.com/fintech-loot-growth-funding-banking-generation-snapchat-2016-11
*-*-*-*-*-*-

http://www.bobsguide.com/guide/news/2016/Nov/14/fintech-startup-swanest-raises-750000-to-build-an-ai-enabled-investment-assistant-/
*-*-*-*-*-*-

http://techcitynews.com/2016/11/14/nutmeg-raises-30m-series-c-led-convoy/
*-*-*-*-*-*-

https://www.siliconrepublic.com/start-ups/flender-crowdfunding-campaign
*-*-*-*-*-*-

http://www.reuters.com/article/rakuten-kreditech-idUSL1N1E92DF
*-*-*-*-*-*-

http://www.econotimes.com/eEquity-invests-in-SEK-30-million-in-Swedish-fintech-startup-Refunder-465767
*-*-*-*-*-*-

https://thestack.com/cloud/2016/12/14/fintech-platform-billfront-raises-35mn-in-series-a-funding/
*-*-*-*-*-*-

http://www.bankingtech.com/676901/drooms-acquires-swiss-fintech-firm-dealmarket/
*-*-*-*-*-*-

http://venturebeat.com/2016/12/21/cardlay-raises-4-million-to-help-traditional-banks-embrace-fintech-solutions/
*-*-*-*-*-*-

http://www.econotimes.com/Nordic-bank-SEB-invests-10m-SEK-in-fintech-outfit-Leasify-464762
*-*-*-*-*-*-

http://www.econotimes.com/UK-fintech-Nutmeg-raises-12M-in-Series-D-funding-led-by-Taipei-Fubon-Bank-465768
*-*-*-*-*-*-

## Text - NP/E/C

In [49]:
cursor.execute (""" 
                SELECT *  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` NOT LIKE 'Investments' AND `Trend` NOT LIKE 'Regulations' AND
                `Date` BETWEEN '2016-10-01' AND '2016-12-31'  """%(tab,cont))

10

In [50]:
t2 = cursor.fetchall()

In [51]:
for t in t2:
    t_content = t[2]
    t_link = t[4]
    print t_content
    print t_link
    print "*-*-*-*-*-*-"

Switzerland based SIX has decided to open its FinTech start-up accelerator F10 to promote Switzerland's FinTech ecosystem on a long-term basis, forge global links and strengthen the capacity of the Swiss finance sectors.
http://www.globalcustodian.com/Technology/SIX-expands-Swiss-FinTech-operations/
*-*-*-*-*-*-
US based startup Circle has added the Euro to its payments app, enabling users to transfer the currency to friends and family instantly on their smartphones without paying a fee and with low exchange rates. Circle plans to expand in Europe.
http://www.bizjournals.com/boston/news/2016/10/20/with-136m-raised-boston-fintech-startup-expands.html
*-*-*-*-*-*-
UK based fintech specialist Quint Group has launched a new comparison site - moneyguru.com- to allow potential borrowers to compare products such as personal loans, business loans and mortgages from over 200 lenders, as well as provide access to regulated insurance advisers.
http://www.bridgingandcommercialdistributor.co.uk/article-desc-2397_fintech-group-launches-loan-comparison-site
*-*-*-*-*-*-
UK based Nimbrix has launched a new blockchain consortium  and platform along with KPMG and Microsoft.
The Nimbrix buy-side platform will use cloud, open API, Software-as-a- Service (SaaS) and blockchain.
The core platform release is scheduled in early 2017.
http://www.bankingtech.com/628312/nimbrix-launches-blockchain-consortium-and-platform/
*-*-*-*-*-*-
Sweden based payments startup, Betalo, has partnered with Germany based company Raisin with pan-European savings products.
By 2017, Betalo users will be able to open and fund their Rasin account directly through the Betalo app.
https://www.finextra.com/pressarticle/66871/betalo-partners-raisin-to-offer-savings-products-in-sweden
*-*-*-*-*-*-

http://www.computerweekly.com/news/450402781/Copenhagen-Fintech-hub-opens-its-doors
*-*-*-*-*-*-

https://techcrunch.com/2016/11/08/soldo/
*-*-*-*-*-*-

http://uk.businessinsider.com/latvian-marketplace-lender-twino-expands-to-russia-2016-12
*-*-*-*-*-*-

https://www.finextra.com/pressarticle/67504/moneybox-launches-android-app
*-*-*-*-*-*-
None
http://www.telegraph.co.uk/personal-banking/savings/peer-to-peer-giant-zopa-to-launch-digital-bank/
*-*-*-*-*-*-

## Text - Accelerators

In [52]:
cursor.execute (""" 
                SELECT *  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Segment`  LIKE %s
                """%(tab,cont,"'%Accelerator%'"))

20

In [53]:
cursor.execute (""" 
                SELECT *  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Segment`  LIKE %s AND
                `Date` BETWEEN '2016-10-01' AND '2016-12-31' 
                """%(tab,cont,"'%Accelerator%'"))

3

In [54]:
tt = cursor.fetchall()

In [55]:
for t in tt:
    t_content = t[2]
    t_link = t[4]
    print t_content
    print t_link
    print "*-*-*-*-*-*-"

Switzerland based SIX has decided to open its FinTech start-up accelerator F10 to promote Switzerland's FinTech ecosystem on a long-term basis, forge global links and strengthen the capacity of the Swiss finance sectors.
http://www.globalcustodian.com/Technology/SIX-expands-Swiss-FinTech-operations/
*-*-*-*-*-*-

http://www.chinadaily.com.cn/business/2016-11/14/content_27372986.htm
*-*-*-*-*-*-

http://www.computerweekly.com/news/450402781/Copenhagen-Fintech-hub-opens-its-doors
*-*-*-*-*-*-

In [57]:
cursor.execute (""" 
                SELECT *  FROM `%s` 
                WHERE `Continent` LIKE %s AND
                `Trend` LIKE %s AND
                `Date` BETWEEN '2016-10-01' AND '2016-12-31'  """%(tab,cont,"'%Investments%'"))

22

In [59]:
t5 = cursor.fetchall()

In [61]:
for t in t5:
    print t[1],":",t[5],":",t[8]

First Circle gets US$1.2 million as seed capital : 2016-10-25 : Lending
Commerzbank has ploughed more cash in lending platform Iwoca : 2016-10-04 : Lending
OpenGamma has raised US$13.3 million : 2016-10-05 : Analytics and Management
Smava has raised $34 million Series C investment from Runa Capital : 2016-10-02 : Lending,Marketplace
ComplyAdvantage has raised US$8.2 million to expand to US : 2016-10-13 : Analytics and Management
Plynk raises seed fund of US$0.78 million to go global : 2016-10-17 : Payment Processing
Cringle raises US$0.86 million from crowdsourcing site : 2016-10-31 : Payment Processing,Mobile Fintech
FreeAgent has raised GBP10.7 million on AIM : 2016-11-16 : Analytics and Management
BNP Paribas Group has invested EUR1.3 million in PayCar : 2016-11-29 : Payment Processing
Klarna has bought the insolvent Berlin fintech startup Cookies : 2016-11-22 : Payment Processing
Cashboard has raised EUR3 million : 2016-11-23 : Investment Advisory
Banking app Loot has raised another GBP2.5 million : 2016-11-07 : Mobile Fintech
Swanest has raised EUR750,000 to build an AI-enabled investment assistant : 2016-11-14 : Investment Advisory
Digital wealth manager Nutmeg has raised GBP30 million from Convoy Global Holdings : 2016-11-14 : Investment Advisory
Flender has raised EUR453,000 through crowdfunding campaign : 2016-12-02 : Lending
Kreditech has raised EUR10 million from Rakuten : 2016-12-15 : Analytics and Management
eEquity has invested SEK 30 million in Refunder Scandinavia AB : 2016-12-25 : Payment Processing
BillFront has raised $35 million in Series A funding : 2016-12-14 : B2B Fintech Services
Drooms has acquired fintech firm DealMarket : 2016-12-16 : Marketplace
Cardlay has raised $4 million in venture capital : 2016-12-21 : B2B Fintech Services
Leasify has raised SEK10 million from SEB : 2016-12-23 : Analytics and Management
Nutmeg has raised GBP12 million Series D financing from Taipei Fubon Bank : 2016-12-25 : Investment Advisory

In [56]:
#cursor.close()