In [1]:
import pymysql
import pymysql.cursors
import csv
from collections import Counter
import pandas as pd
import numpy as np

In [2]:
# Connect to the database
connection = pymysql.connect(host='127.0.0.1',
                             user='root',
                             password='abhi1234',
                             db='fintech_2016',
                             port=3306,
                             charset='utf8'
                             )
cursor = connection.cursor()

#### Getting Table Names

In [3]:

cursor.execute (" SHOW TABLES   ")

2

In [4]:
tabls = cursor.fetchall()

In [5]:
for a in tabls:
    print a

(u'fintech_15',)
(u'fintech_16',)

In [6]:
tab = "fintech_16"

#### Column Selection

In [7]:
cursor.execute("  SHOW COLUMNS FROM `fintech_16`     ")

14

In [8]:
cols = cursor.fetchall()

In [9]:
for i in cols:
    print i[0]

ID
Title
Content
Snippet
Link
Date
Source
Trend
Segment
Company
Country
Continent
Investment (US$ million)
Investors

### Country

In [10]:
con = "'US'"

### _Functions_

#### Fun: Unique values of a table

In [11]:
def unique (col1):
    col = col1
    list_a = [ ]
    qw = ''' SELECT DISTINCT(`%s`) AS `%s` FROM `%s`  ORDER BY `%s` DESC   ''' %(col,col,tab,col)
    cursor.execute (qw)
    fetcher = cursor.fetchall()
    for one in fetcher:
        tick = one[0]
        tick = tick.split(",")
        for i in range (len(tick)):
            if tick[i] in list_a:
                pass
            else:
                list_a.append(tick[i])
    print "Total Unique Values: "+str(len(list_a))
    return list_a

In [12]:
d = unique ("Country") #enters col name, outputs as a list
# always out it in form of a list

Total Unique Values: 45

In [13]:
len(d)

45

#### Getting Count of unique values

In [14]:
def val_count(u_val):
    list_2 = [ ]
    for a in u_val:
        b = a[0]
        if len(b) > 1:
            b = b.split(",")
        for i in range (len(b)):
            list_2.append(b[i])
    c = Counter( list_2 )
    d = c.items()# It's a list
    f = sorted(d, key=lambda x: x[1], reverse=True)
    for e in f:
        print e[0]+":"+str(e[1])+":"+format(((float(e[1])/len(list_2))*100),'.1f')+"%"
    return

## Major countries in Q4-2016

In [15]:
d

[u'Vietnam',
 u'US',
 u'Spain',
 u'India',
 u'Hong kong',
 u'UK',
 u'Thailand',
 u'South Korea',
 u'France',
 u'China',
 u'Switzerland',
 u'Sweden',
 u'Germany',
 u'Indonesia',
 u'South Africa',
 u'Singapore',
 u'Scotland',
 u'Russia',
 u'Philippines',
 u'Pakistan',
 u'Norway',
 u'Nigeria',
 u'New Zealand',
 u'Netherlands',
 u'Myanmar',
 u'Mexico',
 u'Malaysia',
 u'Latvia',
 u'Kenya',
 u'Japan',
 u'Ivory Coast',
 u'Italy',
 u'Israel',
 u'Brazil',
 u'Ireland',
 u'Hong Kong',
 u'Finland',
 u'Egypt',
 u'Denmark',
 u'Democratic Republic of Congo',
 u'Mozambique',
 u'Canada',
 u'Australia',
 u'Cambodia',
 u'Bermuda']

In [16]:
query = cursor.execute (''' SELECT `Segment` FROM `%s` 
WHERE `Date` BETWEEN '2016-10-01' AND '2016-12-31' 
AND `Trend` NOT LIKE 'Investments' AND `Trend` NOT LIKE 'Regulations' 
AND `Country` LIKE %s '''
       %(tab,con)      )

In [17]:
for conti in d:
    cursor.execute (''' SELECT COUNT(`Title`) FROM `%s` 
    WHERE `Date` BETWEEN '2016-10-01' AND '2016-12-31'
    AND `Country` LIKE '%s' ''' %(tab,conti)      )
    numb = cursor.fetchall()
    print conti,":",numb[0][0]

Vietnam : 0
US : 22
Spain : 0
India : 11
Hong kong : 2
UK : 15
Thailand : 3
South Korea : 0
France : 1
China : 1
Switzerland : 2
Sweden : 3
Germany : 5
Indonesia : 0
South Africa : 4
Singapore : 3
Scotland : 0
Russia : 1
Philippines : 1
Pakistan : 0
Norway : 0
Nigeria : 0
New Zealand : 2
Netherlands : 0
Myanmar : 0
Mexico : 1
Malaysia : 3
Latvia : 0
Kenya : 0
Japan : 1
Ivory Coast : 1
Italy : 0
Israel : 1
Brazil : 1
Ireland : 3
Hong Kong : 2
Finland : 0
Egypt : 0
Denmark : 2
Democratic Republic of Congo : 0
Mozambique : 0
Canada : 8
Australia : 5
Cambodia : 0
Bermuda : 0

In [18]:
segs = unique ("Segment")

Total Unique Values: 9

In [59]:
for segi in segs:
    cursor.execute (''' SELECT COUNT(`Title`) FROM `%s` 
    WHERE `Date` BETWEEN '2016-10-01' AND '2016-12-31'
    AND `Segment` LIKE '%s' ''' %(tab,segi)      )
    numb = cursor.fetchall()
    print segi,":",numb[0][0]

Payment Processing : 27
Mobile Fintech : 1
Marketplace : 3
Lending : 16
Investment Advisory : 17
B2B Fintech Services : 9
Analytics and Management : 15
Accelerators Incubators and Funds : 17
 : 2

#### Selecting Table and current quarter

In [21]:
cursor.execute (" SELECT *  FROM `%s` WHERE `Country` LIKE %s  "%(tab,con))

54

In [22]:
ad = 'fintech_16'

In [23]:
col = 'Trend'

#### Activity Number in that quarter

In [24]:
cursor.execute (" SELECT `Trend`  FROM `%s` WHERE `Date` BETWEEN '2016-10-01' AND '2016-12-31' AND  `Country` LIKE %s  "%(tab,con))

22

In [25]:
t1 = cursor.fetchall()

In [26]:
len(t1) #t1 is a tuple

22

#### Trends in that Quarter

In [27]:
 ww = val_count(t1)

Investments:11:47.8%
Collaboration:5:21.7%
Expansion:5:21.7%
New Products:2:8.7%

#### Activity number in preceding three quarters

In [28]:
cursor.execute (" SELECT *  FROM `%s` WHERE `Date` BETWEEN '2016-01-01' AND '2016-03-31' AND `Country` LIKE %s   "%(tab,con)) #Q1

8

In [29]:
cursor.execute (" SELECT *  FROM `%s` WHERE `Date` BETWEEN '2016-04-01' AND '2016-06-30' AND `Country` LIKE %s  "%(tab,con)) #Q2

10

In [30]:
cursor.execute (" SELECT *  FROM `%s` WHERE `Date` BETWEEN '2016-07-01' AND '2016-09-30' AND `Country` LIKE %s  "%(tab,con)) #Q3

14

In [31]:
cursor.execute (" SELECT *  FROM `%s` WHERE `Date` BETWEEN '2016-10-01' AND '2016-12-31' AND `Country` LIKE %s  "%(tab,con)) #Q4

22

#### Segments in that quarter

In [32]:
cursor.execute (" SELECT `Segment`  FROM `%s` WHERE `Date` BETWEEN '2016-10-01' AND '2016-12-31' AND `Country` LIKE %s  "%(tab,con))

22

In [33]:
t2 = cursor.fetchall()

In [34]:
val_count(t2)

Payment Processing:9:39.1%
B2B Fintech Services:4:17.4%
Investment Advisory:4:17.4%
Marketplace:2:8.7%
Lending:2:8.7%
Analytics and Management:1:4.3%
Accelerators Incubators and Funds:1:4.3%

In [35]:
## cursor.execute("  SELECT `%s` FROM `%s`     "%(col,tab) )

#### Investments - Number in that quarter

In [36]:
cursor.execute (''' SELECT `Segment`  FROM `%s` 
WHERE `Date` BETWEEN '2016-10-01' AND '2016-12-31' 
AND `Trend` LIKE %s
AND `Country` LIKE %s '''%(tab,"'%Investments%'",con))

11

#### Investments - Segements

In [37]:
t3 = cursor.fetchall()

In [38]:
val_count(t3)

Payment Processing:3:25.0%
B2B Fintech Services:3:25.0%
Investment Advisory:3:25.0%
Lending:2:16.7%
Marketplace:1:8.3%

#### Investments - Numbers in preceding three quarters

Q1

In [39]:
cursor.execute (''' SELECT `Segment`  FROM `%s` 
WHERE `Date` BETWEEN '2016-01-01' AND '2016-03-31' 
AND `Trend` LIKE %s 
AND `Country` LIKE %s '''%(tab,"'%Investments%'",con))

3

Q2

In [40]:
cursor.execute (''' SELECT `Segment`  FROM `%s` 
WHERE `Date` BETWEEN '2016-04-01' AND '2016-06-30' 
AND `Trend` LIKE %s 
AND `Country` LIKE %s '''%(tab,"'%Investments%'",con))

9

Q3

In [41]:
cursor.execute (''' SELECT `Segment`  FROM `%s` 
WHERE `Date` BETWEEN '2016-07-01' AND '2016-09-30' 
AND `Trend` LIKE %s 
AND `Country` LIKE %s '''%(tab,"'%Investments%'",con))

7

Q4

In [42]:
cursor.execute (''' SELECT `Segment`  FROM `%s` 
WHERE `Date` BETWEEN '2016-10-01' AND '2016-12-31' 
AND `Trend` LIKE %s 
AND `Country` LIKE %s '''%(tab,"'%Investments%'",con))

11

#### NP, Exp, Collab - Number in that quarter

In [43]:
cursor.execute (''' SELECT `Segment` FROM `%s` 
WHERE `Date` BETWEEN '2016-10-01' AND '2016-12-31' 
AND `Trend` NOT LIKE 'Investments' AND `Trend` NOT LIKE 'Regulations' 
AND `Country` LIKE %s '''
       %(tab,con)      )

11

#### NP, Exp, Collab - Segements

In [44]:
t4 = cursor.fetchall()

In [45]:
val_count(t4)

Payment Processing:6:54.5%
Marketplace:1:9.1%
B2B Fintech Services:1:9.1%
Accelerators Incubators and Funds:1:9.1%
Analytics and Management:1:9.1%
Investment Advisory:1:9.1%

#### NP, Exp, Collab - Numbers in preceding three quarters

Q1

In [46]:
cursor.execute (''' SELECT `Segment` FROM `%s` 
WHERE `Date` BETWEEN '2016-01-01' AND '2016-03-31' 
AND `Trend` NOT LIKE 'Investments' AND `Trend` NOT LIKE 'Regulations' 
AND `Country` LIKE %s '''
       %(tab,con)      )

5

Q2

In [47]:
cursor.execute (''' SELECT `Segment` FROM `%s` 
WHERE `Date` BETWEEN '2016-04-01' AND '2016-06-31' 
AND `Trend` NOT LIKE 'Investments' AND `Trend` NOT LIKE 'Regulations' 
AND `Country` LIKE %s '''
       %(tab,con)      )

1

Q3

In [48]:
cursor.execute (''' SELECT `Segment` FROM `%s` 
WHERE `Date` BETWEEN '2016-07-01' AND '2016-09-31' 
AND `Trend` NOT LIKE 'Investments' AND `Trend` NOT LIKE 'Regulations' 
AND `Country` LIKE %s '''
       %(tab,con)      )

7

Q4

In [49]:
cursor.execute (''' SELECT `Segment` FROM `%s` 
WHERE `Date` BETWEEN '2016-10-01' AND '2016-12-31' 
AND `Trend` NOT LIKE 'Investments' AND `Trend` NOT LIKE 'Regulations' 
AND `Country` LIKE %s '''
       %(tab,con)      )

11

In [50]:
cursor.execute (" SELECT `Segment` , `Trend`  FROM `%s` WHERE `Date` BETWEEN '2016-10-01' AND '2016-12-31'AND `Country` LIKE %s  "%(tab,con))

22

In [51]:
er = cursor.fetchall()

In [52]:
cursor.execute (''' SELECT `Segment` FROM `%s` 
WHERE `Date` BETWEEN '2016-10-01' AND '2016-12-31' 
 
AND `Country` LIKE %s '''
       %(tab,con)      )

22

In [53]:
t7 = cursor.fetchall()

In [54]:
val_count(t7)

Payment Processing:9:39.1%
B2B Fintech Services:4:17.4%
Investment Advisory:4:17.4%
Marketplace:2:8.7%
Lending:2:8.7%
Analytics and Management:1:4.3%
Accelerators Incubators and Funds:1:4.3%

In [55]:
cursor.execute (" SELECT `Trend`  FROM `%s` WHERE `Date` BETWEEN '2016-10-01' AND '2016-12-31' AND `Country` LIKE %s  "%(tab,con)) #Q4

22

In [56]:
t8 = cursor.fetchall()

In [57]:
val_count(t8)

Investments:11:47.8%
Collaboration:5:21.7%
Expansion:5:21.7%
New Products:2:8.7%

In [58]:
#cursor.close()